.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  width: 640px;
  height: 640px;
  display: flex;
  background-color: green;
  flex-wrap: wrap;
}

.cellStyle {
  width: 80px;
  height: 80px;
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.stoneStyle {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}
